[Unit]
Description=udp2raw ICMP carrier for wg9096
Wants=network-online.target
After=network-online.target

[Service]
CPUAffinity=2
Nice=-10
Type=simple
ExecStart=/usr/local/sbin/udp2raw-wg9094 --conf-file /etc/udp2raw/wg9096.conf
Restart=always
RestartSec=5
LimitNOFILE=65535
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
