[Interface]
PrivateKey = <IRAN_PRIVATE_KEY>
Address = 10.20.20.1/30
ListenPort = 443
MTU = 1280

[Peer]
PublicKey = <GERMANY_PUBLIC_KEY>
Endpoint = 127.0.0.1:4097
AllowedIPs = 10.20.20.2/32
PersistentKeepalive = 15
