[Interface]
Address = 10.77.94.2/30
ListenPort = 51894
PrivateKey = <FOREIGN_WIREGUARD_PRIVATE_KEY>
MTU = 900

[Peer]
PublicKey = <IRAN_WIREGUARD_PUBLIC_KEY>
PresharedKey = <WIREGUARD_PRESHARED_KEY>
AllowedIPs = 10.77.94.1/32
