[Interface]
Address = 10.77.96.2/30
ListenPort = 51892
PrivateKey = <FOREIGN_WIREGUARD_PRIVATE_KEY_3>
MTU = 900

[Peer]
PublicKey = <IRAN_WIREGUARD_PUBLIC_KEY_3>
PresharedKey = <WIREGUARD_PRESHARED_KEY_3>
AllowedIPs = 10.77.96.1/32
