[Interface]
Address = 10.77.95.2/30
ListenPort = 51895
PrivateKey = <FOREIGN_WIREGUARD_PRIVATE_KEY_2>
MTU = 900

[Peer]
PublicKey = <IRAN_WIREGUARD_PUBLIC_KEY_2>
PresharedKey = <WIREGUARD_PRESHARED_KEY_2>
AllowedIPs = 10.77.95.1/32
