[Interface]
Address = 10.77.94.2/30
ListenPort = 51894
PrivateKey = <FOREIGN_WIREGUARD_PRIVATE_KEY_1>
MTU = 900

[Peer]
PublicKey = <IRAN_WIREGUARD_PUBLIC_KEY_1>
PresharedKey = <WIREGUARD_PRESHARED_KEY_1>
AllowedIPs = 10.77.94.1/32
